<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/af018f77-873b-442e-a97b-6c1946c79c7d/resourcegroups/VstsRG-AgileDevelopment-0da9/providers/Microsoft.Web/sites/AgileDevelopment20220731233416</ResourceId>
    <ResourceGroup>VstsRG-AgileDevelopment-0da9</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://agiledevelopment20220731233416.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d3fb9b58-59c7-4de4-aa91-9110a4feff54</ProjectGuid>
    <PublishUrl>https://agiledevelopment20220731233416.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AgileDevelopment20220731233416</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
  </PropertyGroup>
</Project>